services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: controle_de_gastos_app
    volumes:
      - .:/var/www
    working_dir: /var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    container_name: controle_de_gastos_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: controle_de_gastos_mysql
    restart: always
    environment:
      MYSQL_DATABASE: controle_gastos
      MYSQL_USER: controle
      MYSQL_PASSWORD: controle
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: controle_de_gastos_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: controle
      PMA_PASSWORD: controle
    depends_on:
      - mysql

volumes:
  mysql_data:
